
@{
    ViewData["Title"] = "Login Page";
}

<div>
    <label for="Username">Username : </label>
    <input placeholder="username" /> 
    <br />
    <label for="Password">Password : </label>
    <input placeholder="username" />
</div>